.Rproj.user
.Rhistory
.RData
.Ruserdata
Emisiones
Boletas
Reporte_EmisionesVigentes_al_17_8_2020_10_46_48(1913).xls
tnc_18_22(1912).xls
Datos Curva Soberana (2009-2019)(1914).xlsx
ResultadosOptimizarCurva.xlsx
TRI colones.xlsx
TRIdolares.xls
TRI dolares.csv
TRI dolares2.csv
