.Rproj.user
.Rhistory
.RData
.Ruserdata
Emisiones
Boletas
Reporte_EmisionesVigentes_al_17_8_2020_10_46_48(1913).xls
tnc_18_22(1912).xls
Datos Curva Soberana (2009-2019)(1914).xlsx
ResultadosOptimizarCurva.xlsx
Acciones
TRI colones.xlsx
overnightrate.csv
wetransfer-56346e.zip
Transacciones
Tablas y Validac RC V6.docx
Tablas y Validac V5.docx
overnightrate.xls
overnightrate (1).csv
overnightrate (2).csv
overnightrate (3).csv
overnightrate (4).csv
overnightrate (5).csv
overnightrate (6).csv
overnightrate (7).csv
tnc_18_22.xls
Procedimiento Técnico RORAC - Parte I.pdf